<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TLAuto.Device.ServerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SerialPortSendTimeInterval" value="100" />
  </appSettings>
  <userSettings>
    <TLAuto.Device.ServerHost.Properties.Settings>
      <setting name="WcfServiceAddress" serializeAs="String">
        <value>net.tcp://127.0.0.1/xingmen</value>
      </setting>
      <setting name="IsAutoStartWcf" serializeAs="String">
        <value>False</value>
      </setting>
    </TLAuto.Device.ServerHost.Properties.Settings>
  </userSettings>
</configuration>