<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PLCServiceKey" value="PLC_4bf1a873-3cd9-41a8-a883-bf3eba7d396d" />
    <add key="ProjectorServiceKey" value="Projector_c3000df2_2c26_4107_af0e_c877330e97cd" />
    <add key="DMXServiceKey" value="DMX_92c28f89-5dfd-4166-ab51-1e08599ffdfb" />

    <add key="QuerySwitchTime" value="5000" />

    <add key="BgColorA" value="234" />
    <add key="BgColorB" value="2" />
    <add key="BgColorC" value="234" />
  </appSettings>
</configuration>