<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="NotificationServiceAddress" value="net.tcp://192.168.3.8:18888/TLNotificationService" />
    <add key="PLCServiceKey" value="PLC_4bf1a873-3cd9-41a8-a883-bf3eba7d396d" />

    <!--测试机关Key-->
    <add key="TestMachineKey" value="Cooking" />
    <!--机关数据 熊猫：Boxing-拳套 数据解释：
                      '|'代表循环多少次，逗号里面的数字代表每次玩家打哪个图案和检测是否击打成功的时间-->
    <add key="BoxingData" value="8-5-1,3,5,7,2,4,6,8|12-4-8,3,6,5,4,3,1,7,6,4,3,5|18-3-3,2,3,5,7,8,2,4,6,3,7,3,4,7,8,1,2,6" />
    <!--<add key="BoxingData" value="1-5-1|1-5-1|1-5-1" />-->
    <!--机关数据 熊猫：Sudoku-火焰灯数独互斥 数据解释：
                      '|'分隔数据，第一个数字代表门磁编号，'-'后面的代表继电器编号，继电器互斥-->
    <add key="SudokuData" value="1-5,1,2|2-1,2,3|3-2,3,4|4-3,4,5|5-4,5,1" />
    <!--机关数据 熊猫：Cooking-做饭 数据解释：
                      Led数码管的串口配置-->
    <add key="CookingSerialPort" value="COM11" />
    <!--第一轮数据解释:  9:4   12:6   11:6    4:9
        第二轮数据解释:  3:1    1:2    5:1    8:1    12:1
        第三轮数据解释:  9:10   2:4    6:6    8:6    10:4-->
    <add key="CookingData" value="0,0,0,9,0,0,0,0,4,0,6,6-30:50-60|4,0,4,0,3,0,0,3,0,0,0,2-45:60-60|0,4,0,0,0,6,0,6,10,4,0,0-40:50-60" />
    <!--机关数据 熊猫：HitMouse-梅花桩 数据解释：
                      HitStyleLightData  问号灯对应招式照明灯编号
                      HitCount 有多少轮
                      -->
    <!--1-7|2-5|3-8|4-6|5-1|6-4|7-2|8-3-->
    <add key="HitStyleLightData" value="1-1|2-2|3-3|4-4|5-5|6-6|7-7|8-8" />
    <add key="HitCount" value="4" />
    <!--第一个数据:踩踏出现多少次  第二个数据:充能灯+1需要的踩踏次数  第三个数据：踩踏延时-->
    <add key="HitDefault" value="1,4,2" /><!--HitDefault 逗号前面代表需要同时踩踏多少个按钮，后面代表多少秒之内完成，默认数据-->
    <add key="HitBuff1" value="1,2,2" />  <!--斗转星移     进度充能灯加快-->
    <add key="HitBuff2" value="4,1,2" />  <!--八卦阵       同时点亮4盏梅花灯-->
    <add key="HitBuff3" value="1,4,2" />  <!--心如止水     闪烁频率降低-->
    <add key="HitBuff4" value="1,4,4" />  <!--太极阵       点亮时间变长-->
    <add key="HitBuff5" value="1,4,2" />  <!--猪队友       点亮时间降低  频率加快-->
    <add key="HitBuff6" value="1,4,2" />  <!--打酱油       相邻2个不能被点亮-->
    <add key="HitBuff7" value="1,4,2" />  <!--致盲         背景灯失灵-->
    <add key="HitBuff8" value="1,4,2" />  <!--致残         充能灯速度大幅降低-->
    <!--梅花桩房间背景灯闪屏延迟1-->
    <add key="HitRoomLightDelay1" value="2000" />
    <!--梅花桩房间背景灯闪屏延迟2-->
    <add key="HitRoomLightDelay2" value="2000" />

    <add key="GuardVideoServiceAddress" value="net.tcp://192.168.3.10:18888/TLVideoService" />
    <add key="GuardMusicServiceAddress" value="net.tcp://192.168.3.10:18888/TLMusicService" />
    <add key="GuardNotificationServiceAddress" value="net.tcp://192.168.3.10:18888/TLNotificationService" />
  </appSettings>
</configuration>